body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;
}

.pretit-ofer {
    font-family: Minecraft;
    color: #ff0000;
    margin-left: 5vw;
    margin-top: 10vh;
}

.ofer {
    font-family: BringRace;
    font-size: 3.7vw;
    margin-left: 5vw;
    margin-top: 2vh;
    color: #ffffff;
}

.cont-ofer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    height: 60vh;
    margin-left: 10%;
    margin-top: 5vh;
    gap: 20px;
}

.ofer-c {
    border: #ff0000 1px solid;
} 

.ofer-c:hover {
    border: #ff0000 2px solid;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.ofer-l {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-left: 5%;
    margin-top: 1vh;
    width: 90%;
    height: 3vh;
}

.ofer-n {
    width: 50%;
    height: 100%;
    background-color: rgb(63, 0, 0);
}

.ofer-d {
    width: 50%;
    height: 100%;
    background-color: rgb(63, 0, 0);
    justify-self: end;
}

.nombre-juego {
    color: #ffffff;
    margin-top: 15vh;
    margin-left: 5%;
    width: 90%;
}

.precios {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 90%;
    margin-left: 5%;
    height: 3vh;
    margin-top: 2vh;
}

.precio1 {
    height: 100%;
    color: rgba(255, 255, 255, 0.596);
    text-align: center;
    font-size: 1.2vw;
}

.precio2 {
    height: 100%;
    color: #ff6262;
    font-size: 1.4vw;
    margin-top: -0.3vh;
}

@font-face {
    font-family: Minecraft;
    src: url(/fonts/Minecraft.ttf);
}

@font-face {
    font-family: BringRace;
    src: url(/fonts/Bring\ Race.otf);
}

@media (max-width: 1024px) {
    .pretit-ofer {
        margin-top: 11vh;
        font-size: 2vh;
    }

    .ofer {
        font-size: 5vw;
        margin-top: 1.5vh;
    }

    .cont-ofer {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin-left: 5%;
        height: auto;
        gap: 16px;
    }

    .ofer-c {
        height: 45vh;
    }

    .nombre-juego {
        margin-top: 25vh;
        font-size: 3vh;
    }

    .precio1 { font-size: 1.6vw; margin-left: -5vh; }
    .precio2 { font-size: 1.8vw; margin-left: -4vh;}
}

@media (max-width: 768px) {
    body {
        overflow-y: auto;
    }

    .pretit-ofer {
        margin-top: 6vh;
        font-size: 1.3vh;
    }

    .ofer {
        font-size: 6vw;
        margin-top: 1vh;
    }

    .cont-ofer {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin-left: 5%;
        height: auto;
        gap: 14px;
        margin-top: 3vh;
    }

    .ofer-c {
        height: 25vh;
    }

    .nombre-juego {
        margin-top: 8vh;
        font-size: 1.2vh;
    }

    .ofer-l {
        margin-top: 0.5vh;
        height: 2.5vh;
    }

    .precio1 { font-size: 2vw; }
    .precio2 { font-size: 2.2vw; }

    .precios {
        margin-top: 1vh;
    }
}

@media (max-width: 480px) {
    .pretit-ofer {
        margin-top: 10vh;
        font-size: 1.2vh;
        margin-left: 5vw;
    }

    .ofer {
        font-size: 8vw;
        margin-left: 5vw;
        margin-top: 3vh;
    }

    .cont-ofer {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin-left: 5%;
        height: auto;
        gap: 16px;
        margin-top: 3vh;
    }

    .ofer-c {
        height: 30vh;
    }

    .nombre-juego {
        margin-top: 19vh;
        font-size: 1.5vh;
    }

    .ofer-l {
        height: 3vh;
        margin-top: 1vh;
    }

    .precio1 { font-size: 3.5vw; margin-top: -0.5vh; margin-left: -4vh; }
    .precio2 { font-size: 4vw; margin-top: -0.75vh; margin-left: -4vh;}

    .precios {
        grid-template-columns: 30% 70%;
        margin-top: 1.5vh;
    }

}